In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset)

In [6]:
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,True,False,False,True
1,18,33.770,1,1725.55230,False,True,True,False
2,28,33.000,3,4449.46200,False,True,True,False
3,33,22.705,0,21984.47061,False,True,True,False
4,32,28.880,0,3866.85520,False,True,True,False
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,False,True,True,False
1334,18,31.920,0,2205.98080,True,False,True,False
1335,18,36.850,0,1629.83350,True,False,True,False
1336,21,25.800,0,2007.94500,True,False,True,False
1337,61,29.070,0,29141.36030,True,False,False,True

In [7]:
dataset=dataset.astype(int)

In [8]:
dataset

      age  bmi  children  charges  sex_female  sex_male  smoker_no  smoker_yes
0      19   27         0    16884           1         0          0           1
1      18   33         1     1725           0         1          1           0
2      28   33         3     4449           0         1          1           0
3      33   22         0    21984           0         1          1           0
4      32   28         0     3866           0         1          1           0
...   ...  ...       ...      ...         ...       ...        ...         ...
1333   50   30         3    10600           0         1          1           0
1334   18   31         0     2205           1         0          1           0
1335   18   36         0     1629           1         0          1           0
1336   21   25         0     2007           1         0          1           0
1337   61   29         0    29141           1         0          0           1

[1338 rows x 8 columns]

In [13]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes'],
      dtype='object')

In [14]:
ind=dataset[['age', 'bmi', 'children', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes']]

In [15]:
ind

      age  bmi  children  sex_female  sex_male  smoker_no  smoker_yes
0      19   27         0           1         0          0           1
1      18   33         1           0         1          1           0
2      28   33         3           0         1          1           0
3      33   22         0           0         1          1           0
4      32   28         0           0         1          1           0
...   ...  ...       ...         ...       ...        ...         ...
1333   50   30         3           0         1          1           0
1334   18   31         0           1         0          1           0
1335   18   36         0           1         0          1           0
1336   21   25         0           1         0          1           0
1337   61   29         0           1         0          0           1

[1338 rows x 7 columns]

In [16]:
dep=dataset[['charges']]

In [17]:
dep

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [18]:
from sklearn.model_selection import train_test_split
x_train,y_train,x_test,y_test=train_test_split(ind,dep,test_size=0.30,random_state=0)

In [19]:
from lightgbm import LGBMRegressor

ModuleNotFoundError: No module named 'lightgbm'

In [20]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-4.6.0-py3-none-win_amd64.whl.metadata (17 kB)
Requirement already satisfied: numpy>=1.17.0 in e:\anacoda3\lib\site-packages (from lightgbm) (1.26.4)
Requirement already satisfied: scipy in e:\anacoda3\lib\site-packages (from lightgbm) (1.13.1)
Downloading lightgbm-4.6.0-py3-none-win_amd64.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------------------------- ----------- 1.0/1.5 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 4.0 MB/s eta 0:00:00
Installing collected packages: lightgbm
Successfully installed lightgbm-4.6.0

In [22]:
import numpy as np

In [23]:
from lightgbm import LGBMRegressor
regressor=LGBMRegressor()
regressor.fit(x_train,y_train)

ValueError: DataFrame for label cannot have multiple columns