In [8]:
import pandas as pd

In [9]:
dataset=pd.read_csv('insurance_pre.csv')

In [10]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [11]:
dataset=pd.get_dummies(dataset,drop_first=True)

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type